version: '3.8'

services:
  frontend:
    image: tejaroyal/frontend-app
    ports:
      - "80:80"
    networks:
      - mynetwork
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  backend:
    image: tejaroyal/backend-app
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgres://postgres:password@db:5432/mydatabase
    networks:
      - mynetwork
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    depends_on:
      db:
        condition: service_healthy
    command: ["/bin/sh", "-c", "sleep 10 && python app.py"]

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - mynetwork
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  mynetwork:
    name: mynetwork
    driver: overlay

volumes:
  pgdata:
